<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <form class="input" name="form" method="post" action="#">
        <div class="wrapper">
           <label for="Email">Эл. почта</label><input type="email" placeholder="example@gmail.com" id="Email" required><span></span><br>
            <label for="pas">Пароль</label><input type="password" id="pas" placeholder="Пароль"><br>
            
        </div>
        <div class="button">
            <button name="#" type="submit">Ввойти</button>
        </div>
    </form>
</body>
</html>