<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
   registered!
   Name is <%= user.name %>
   Surname <%= user.surname %>
   City <%= user.city %>


   

</body>
</html>