<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <form class="input" name="form" method="post" action="/register">
        <div class="wrapper">
            <label for="Name">Имя</label><input type="textarea" placeholder="Иван" id="Name" name="name" required><span></span><br>
            <label for="surname">Фамилия</label><input type="textarea" placeholder="Иванов" id="Surname" name="surname" required><span></span><br>
            <label for="City">Город</label><input type="textarea" placeholder="Ивановск" id="City" name="city" required><span></span><br><br>
            <label for="Email">Эл. почта</label><input type="email" placeholder="example@gmail.com" id="Email" name="email" required><span></span><br>
            <label for="pas">Пароль</label><input type="password" id="pas" placeholder="Пароль" name="password"><br>
            <label for="verpas">Повторите пароль</label><input type="password" id="verpas" placeholder="Пароль" required><span></span><br>
            <p><label for="captcha">Введите число с картинки</label></p>
            <div class="image"></div><input id="captcha" type="text" pattern="55102" required><span></span>
    
        </div>
        <div class="button">
            <button name="#" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</body>
</html>